/** Common **/

* {
  font-family: 'Roboto';
  /* border: 1px solid grey; */
}

body {
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.title {
  font-size: 24px;
  margin-bottom: 5px;
}

.heading {
  font-size: 18px;
  margin-bottom: 5px;
}

.content {
  font-size: 14px;
}

.red-button {
  padding: 8px 24px;
  background: #ec2c29;
  color: white;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.red-button:hover {
  background: #f55555;
}

span.red-button {
  display: inline-block;
}

span.v-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.card {
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.color-white {
  color: white;
}

.color-grey {
  color: #595E63
}

/* Display */

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

/* Margin */

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-70 {
  margin-bottom: 70px
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

/* Padding */
.p-10 {
  padding: 10px;
}
.p-25 {
  padding: 25px;
}

.pv-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pv-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ph-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.ph-40 {
  padding-left: 40px;
  padding-right: 40px;
}

/* Height */
.h-100px {
  height: 100px;
}
.h-150 {
  height: 150px;
}
.h-350 {
  height: 350px;
}
.h-500 {
  height: 500px;
}

/* Width */
.w-100 {
  width: 100%;
}

.w-65 {
  width: 65%;
}

.w-75 {
  width: 75%;
}

/* Flex */

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-0 {
  flex: 0;
}

/** Header **/
header {
  display: flex;
  height: 70px;
  background: #E53935;
  color: white;
}

.logo {
  width: 200px;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 10px;
}

.logo-cname {
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 500;
}

.logo-cname > div:first-child {
  font-size: 24px;
  font-family: 'Dosis';
  text-transform: uppercase;
}

.menu {
  flex-grow: 1;
  padding: 0 20px 0 0;
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  line-height: 50px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  opacity: 0.8;
}

/** Banner **/
section.banner {
  height: 500px;
  background: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
}

/** Key Offerings **/
section.key-offerings {
  height: 250px;
  background: #e0e0e0;
  position: relative;
}

.key-offerings-card {
  position: absolute;
  height: 225px;
  top: -50px;
  left: 15%;
  background: #fff;
  width: 60%;
  box-shadow: 0px 4px 13px rgba(0, 0, 17, 0.4);
}

/** About Us **/
.about-us {
  height: 500px;
}

/** Our Services **/
section.our-services {
  padding: 25px 80px;
  background-color: #e0e0e0;
}

/** Footer **/
footer {
  height: 150px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-cname {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 36px;
  text-align: left;
  color: black;
}

.footer-social {
  display: inline-block;
  vertical-align: middle;
}

.footer-social img {
  padding: 0 5px;
  cursor: pointer;
  vertical-align: middle;
}

.footer-social img:hover {
  opacity: 0.8;
}